# Replace with your configuration after you deploy
NODE_ENV=development
AWS_PROJECT_REGION=us-east-1
AWS_COGNITO_REGION=us-east-1
AWS_USER_POOLS_ID=us-east-1_LEQfhMbDU
AWS_USER_POOLS_WEB_CLIENT_ID=2sngg6r46jfhjpmm4g5mhgk48h
API_DISTRIBUTION_DOMAIN_NAME=db-vct-auth.auth.us-east-1.amazoncognito.com
RAG_ENABLED=true
DEFAULT_EMBEDDINGS_MODEL=
DEFAULT_CROSS_ENCODER_MODEL=